.GridBoxContainer {
  background-color: #f7f7f2;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: calc(100vh - 120px);
}
